{% extends "base.html" %}
{% load static %}

{% block title %}Probe: {{ object.target }}{% endblock %}

{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<style type="text/css">
    #mynetwork {
      width: 1900px;
      height: 900px;
      border: 1px solid lightgray;
    }
</style>
<div id="mynetwork"></div>

<script type="text/javascript">
  var json = $.getJSON("/api/v1/probe-results/67e6af21-d6cb-4861-8cfb-2ca9589dfd31/jsgraph").done(function(data) {
    var data = { nodes: data.nodes, edges: data.edges };
    var network = new vis.Network(container, data, options);
  });

  // create an array with nodes
  var nodes = new vis.DataSet([]);

  // create an array with edges
  var edges = new vis.DataSet([]);

  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
      layout: {
          improvedLayout: true,
          hierarchical: {
            enabled: true,
            levelSeparation: 250,
            nodeSpacing: 200,
            treeSpacing: 200,
            blockShifting: false,
            edgeMinimization: false,
            parentCentralization: true,
            direction: 'LR',        // UD, DU, LR, RL
            sortMethod: 'directed',  // hubsize, directed
            shakeTowards: 'roots'  // roots, leaves
        },
      },
      edges: {
        arrows: {
            to: {
                enabled: true, 
                type: "arrow",
                scaleFactor: 1
            }
        }
      },
      nodes: {
          shape: 'dot'
      }
  };
  var network = new vis.Network(container, data, options);
</script>
{% endblock content %}

